header
{

.header-Container
{
    .card-text
    {
        color: #d4d2d2;
        margin: 4em 0em;
        border-radius: 1em;
        background: linear-gradient(to bottom, #3E5151, rgba(35,36,38,0));

        h1
        {    padding: 30px;}
    }
}



}