.container-section1
{    padding-bottom: 5em;

    .card-text
    {
        h1
        {    color: #c3c2c2;
            font-weight: 900;
            line-height: 2;}

        a
        {
            color: #fff;
            display: block;
            font-size: 25px;
            margin: 1em 0em;
            padding: .5em .50em;
            border-radius: .3em;
        }


    }

    .card-text a:hover
    {
        text-decoration: none;
        background: linear-gradient(to bottom, #1f2929, rgba(35,36,38,0));
        border-radius: .2em;
        color: #d4d2d2;
        border-bottom: .1px solid #7a796a;

    }
}